.about_intro {
  padding-top: 20vh;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.introduction {
  margin: 0 auto;
  width: 90%;
}

.illustration {
  margin: 50px 0px;
}

.illustration_intro {
  width: 100%;
}

.newsletter_alternative {
  margin-top: 100px;
  background-color: $cold-blue;
  padding: 50px 0;
}
