.regular_width_img {
  margin: 0 auto;
}

.regular_width_img img {
  width: 95vw;
  height: 90vw;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
  object-position: bottom;
}

.article_page {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.blog_paragraph {
  padding: 50px 0;
  width: 95%;
  margin: 0 auto;
  word-wrap: break-word;
}

.full_width_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.full_width_img {
  margin: 0;
}

.aligncenter {
  margin: 0;
}
