.regular_width_img {
  margin: 0 auto;
  overflow: hidden;
}

.regular_width_img img {
  width: 95vw;
  height: 90vw;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
  object-position: bottom;
}

.article_page {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.blog_paragraph {
  padding: 50px 0;
  width: 95%;
  margin: 0 auto;
  word-wrap: break-word;
}

.full_width_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.full_width_img {
  margin: 0;
  overflow: hidden;
}

.aligncenter {
  margin: 0;
}

figure > img:hover {
  transform: scale(1.02);
  cursor: pointer;
  @include transition-ease;
}

/*MODAL STYLING*/

// .modal {
//   background: rgba(0, 0, 0, 0.6);
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   pointer-events: none;
// }

// .modal.open {
//   opacity: 1;
//   pointer-events: all;
//   @include transition-ease;
// }

// .full_img.open {
//   transform: translate(-50%, -50%) scale(1);
//   position: absolute;
//   height: 70%;
//   top: 50%;
//   left: 50%;
//   z-index: 1;
//   @include transition-ease;
// }

.modal {
  // width: 400px;
  // max-width: 100%;
  // height: 250px;
  // background-position: center;
  // background-size: contain;
  // background-repeat: no-repeat;
  // border-radius: var(--defaultradius);
  // margin: 0 auto;
  // cursor: pointer;
}

/* Modal container */

.modal__section {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: space-around;
  @include transition-ease;
}

.modal__image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 70%;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: var(--defaultradius);
  @include transition-ease;
}

.modal-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 98%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.modal-exit {
  display: none;
}
