.alternative_blog {
  padding-top: 10vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  background-color: $solid-green;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(49, 49, 49, 0.1);
}

.blog_header {
  width: 90%;
  margin: 0 auto;
}

.article {
  justify-content: center;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
}

.all_articles {
  display: grid;
  grid-template-columns: 1fr;
}

.article_image {
  width: 90vw;
  height: 90vw;
  object-fit: cover;
  overflow: hidden;
  object-position: bottom;
}

.hashtag_gategory {
  margin: 30px 0 0 0;
  text-decoration: underline;
  color: $hashtag-link;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-left: 12px;
  cursor: pointer;
  width: 100px;
  display: flex;

  &:hover {
    filter: invert(1);
  }
}

.hashtags_option {
  margin: 5px 0 30px 0;
}
