.regular_width_img {
  margin: 0 auto;
  overflow: hidden;
}

.regular_width_img img {
  width: 95vw;
  height: 90vw;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
  object-position: bottom;
}

.article_page {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.blog_paragraph {
  padding: 50px 0;
  width: 95%;
  margin: 0 auto;
  word-wrap: break-word;
}

.full_width_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: bottom;
}

.full_width_img {
  margin: 0;
  overflow: hidden;
}

.aligncenter {
  margin: 0;
}

figure > img:hover {
  transform: scale(1.02);
  cursor: pointer;
  @include transition-ease;
}

// .modal {
// }

/* Modal container */

.modal__section {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: space-around;
  @include transition-ease;
}

.modal__image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  @include transition-ease;
}

.modal-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  object-fit: cover;
  overflow: hidden;
  object-position: bottom;
  @include transition-ease;
}

.modal-exit {
  display: none;
}
