$main-green: #f0f2ec;
$light-green: #f8f8f2;
$font-green: #7c8369;
$main-grey: #64645f;
$solid-green: #e9e6e2;
$hot-pink: #efd3d3;
$contact-pink: #fbeaea;
$coral: #dfb794;
$light-blue: #d5d6db;
$hashtag-link: #a54e22;
$cold-blue: #edeef0;

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin media-medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-large {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xlarge {
  @media screen and (min-width: 1400px) {
    @content;
  }
}
