.home {
  padding-top: 8vh;
  overflow: hidden;
  align-items: center;
}

.latest_image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  overflow: hidden;
}

/* GRID FOR LATEST ARTICLE */
.latest_topic_grid {
  display: grid;
  grid-template-columns: 1fr;
}

.hightlight_img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
  object-position: bottom;
}

.highlights {
  margin-top: 70px;
}

.latest_posts {
  background-color: $light-green;
  display: block;
  margin: 40px 0 0 0;
  padding: 40px 0px;
}

.slider_image {
  width: 300px;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

.newsletter {
  background-color: $main-green;
  padding: 50px 0;
}

#newsletter_signup {
  display: flex;
  margin: 50px 0px 200px;
}

#newsletteremail {
  width: 90%;
  margin: 0 auto;
  height: 75px;
  border: none;
}

::placeholder {
  font-size: 1.1rem;
  padding-left: 20px;
  font-family: "Raleway", sans-serif;
}

.about {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.portrait {
  margin-top: -200px;
}

.carousel_item {
  justify-content: center;
  margin: 25px 15px;
  display: flex;
  flex-direction: column;
}

.carousel {
  display: grid;
  grid-template-columns: 1fr;
}

.carousel_slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.carousel_styling {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  font-weight: 600;
  margin-top: 200px;
}
