/*MIN 768px*/
@include media-medium {
  .article > .blog_articles {
    height: 45vw;
    width: 45vw;
  }

  .blog_title {
    font-size: 3rem;
  }

  .contact {
    height: 35vw;
  }

  .illustration_intro {
    width: 400px;
    margin: 0 auto;
  }

  .illustration {
    display: grid;
  }

  .all_articles {
    grid-template-columns: 1fr 1fr;
  }

  .carousel {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .article_image {
    height: 30vw;
    width: 30vw;
  }

  .alternative_article_image {
    width: 30vw;
  }

  .blog_paragraph {
    width: 70%;
  }

  .full_width_img {
    height: 500px;
    object-position: bottom;
  }

  .regular_width_img img {
    width: 70vw;
    height: 400px;
  }

  .about_us {
    width: 70%;
    margin: 0 auto;
  }

  .latest_topic_grid > .grid_content,
  .grid_content_highlight {
    width: 80%;
  }

  .latest_topic_grid_reverse > .grid_content {
    width: 80%;
  }

  .hightlight_img {
    height: 700px;
  }
}

/*MIN 1024px*/
@include media-large {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;
      align-content: center;
      padding-top: 25px;

      &__item {
        display: inline;
        padding-right: 1rem;
      }

      &__link {
        font-size: 1rem;
      }
    }
  }

  .latest_topic_grid {
    display: flex;
    flex-direction: row-reverse;
    grid-template-columns: 1fr 1fr;
  }

  .latest_topic_grid_reverse {
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    margin-top: -150px;
  }

  .latest_topic_grid > .grid_content {
    width: 40%;
    padding-top: 170px;
  }

  .latest_topic_grid_reverse > .grid_content {
    width: 40%;
    padding-top: 370px;
  }

  .blog_front_header {
    padding-bottom: 200px;
  }

  .highlights {
    width: 95%;
    margin: 0 auto;
  }

  .highlight_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
  }

  .all_articles {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .carousel {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }

  .article_image {
    height: 25vw;
    width: 25vw;
  }

  .alternative_article_image {
    width: 25vw;
  }

  .about_us_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portrait {
    margin-top: -100px;
    margin-left: -50px;
  }

  .about_us {
    width: 100%;
    padding: 50px 0;
    margin-left: -30px;
  }

  #newsletter_signup {
    margin: 50px 0px 100px;
  }

  .newsletter_text {
    padding-top: 30px;
  }

  .introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    width: 100%;

    &__reversed {
      grid-template-columns: 1fr 1fr;
      flex-direction: initial;
    }
  }

  .content {
    margin: auto;
    width: 450px;
  }

  .full_width_img {
    height: 700px;
  }

  .regular_width_img img {
    height: 500px;
  }

  .content > h3.about_marie {
    text-align: left;
  }
}

/*MIN 1400px*/
@include media-xlarge {
  .main_logo {
    height: 45px;
  }

  .latest_image {
    height: 700px;
  }

  .latest_topic_grid > .grid_content {
    width: 30%;
    padding-top: 340px;
  }

  .latest_topic_grid_reverse > .grid_content {
    width: 30%;
    padding-top: 340px;
  }

  .latest_topic_grid {
    max-width: 1440px;
    margin: 0 auto;
  }

  .latest_posts > h2#latest {
    max-width: 1300px;
  }

  .newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
  }

  .newsletter_alternative {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
  }

  .about_us_grid {
    padding: 50px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .about_us {
    width: 80%;
  }

  .portrait {
    margin-left: 0;
    margin-top: -150px;
    padding-bottom: 50px;
  }

  .highlight_grid {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .introduction {
    max-width: 1100px;
  }

  .introduction__reversed {
    max-width: 1100px;
  }

  .latest_topic_grid_reverse {
    max-width: 1300px;
    padding-left: 80px;
  }

  .all_articles {
    max-width: 1300px;
    margin: 0 auto;
  }

  .carousel {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }

  .article_image {
    height: 378px;
    width: 410px;
  }
  .alternative_article_image {
    width: 410px;
  }

  .article > h3#latest_title {
    font-size: 1.4rem;
  }

  .carousel > h3#latest_title {
    font-size: 1.4rem;
  }

  .contact {
    height: 20vw;
  }

  .blog_header > h1.blog_title {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  .full_width_img {
    height: 900px;
    margin: 0;
  }

  .regular_width_img img {
    height: 600px;
    width: 900px;
  }

  .blog_paragraph {
    width: 50%;
  }
}
