@import "config";
@import "home";
@import "menu";
@import "about";
@import "contact";
@import "blog";
@import "blogpost";
@import "responsive";

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.5rem;

  &.topic_name {
    width: 95%;
    margin: 0 auto;
  }

  &#latest {
    font-size: 2.5rem;
    padding-bottom: 30px;
  }

  &#latest_title {
    font-size: 1rem;
    padding-top: 10px;
  }

  &.sign_up {
    font-size: 4.5rem;
    margin: 0;
    color: $font-green;
  }

  &.sign_up_alternative {
    font-size: 4.5rem;
    color: $main-grey;
    margin: 0;
  }

  &.footer_title {
    font-size: 4rem;
  }

  &.about_marie {
    margin: 0 auto;
    text-align: center;
  }

  &.quote {
    font-style: italic;
    font-size: 1.2rem;
    content: open-quote;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding-top: 30px;
  }

  &.blog {
    font-size: 5rem;
    margin-bottom: 0;
  }

  &.blog_title {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &.filter_option {
    color: $main-grey;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 12px;
    cursor: pointer;
  }

  &.categories {
    color: $main-grey;
    text-decoration: underline;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 12px;
    cursor: pointer;
  }
  &.date {
    color: $main-grey;
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 12px;
    cursor: pointer;
  }

  &.hashtag_link {
    text-decoration: underline;
    color: $hashtag-link;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-left: 12px;
    cursor: pointer;

    &:hover {
      filter: invert(1);
    }
  }
}

.arrow {
  width: 50px;
  padding-left: 1rem;
  cursor: pointer;

  &:hover {
    filter: invert(1);
  }
}

.hashtags {
  margin: 30px 0 30px 0;
}

.post_hashtags {
  margin: 30px 0 30px 0;
  text-align: center;
}

.lead_paragraph {
  padding-top: 30px;
  width: 95%;
  margin: 0 auto;
}

.newsletter_paragraph {
  color: $main-grey;
}

.green_newsletter_paragraph {
  color: $font-green;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  background-color: #fff;

  &.alternative {
    background-color: transparent;
  }
}

main {
  height: 100%;
  width: 100%;
}

.main_logo {
  display: inherit;
  width: 200px;
  margin: 0 auto;
  height: 50px;
}

.logo_href {
  margin: 0 auto;
  width: 210px;
  display: block;
  height: 100%;
}

footer {
  font-size: 2rem;
  text-align: center;
  background-color: $main-grey;
  color: #fff;
  padding-bottom: 20px;
}

.footer_nav {
  list-style: none;
  margin: 30px 0;
  font-size: 1.5rem;
}

.footer_list {
  padding: 20px 0px;
  margin: 0;
}

.copyright {
  background-color: $hot-pink;
  display: flex;
  align-items: center;
  height: 40px;
}

.copyright p {
  margin: 0 auto;
  font-size: 0.8rem;
}

#formButton {
  background-color: $main-grey;
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 120px;
  padding: 12px;
  border-radius: 30px 0px 30px 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff;
  border: 3px solid $main-grey;

  &:hover {
    background-color: $light-green;
    color: $main-grey;
  }
}

.newsletter_text {
  width: 90%;
  margin: 0 auto;
}

.newsletter_form {
  width: 100%;
  margin: 0 auto;
}

.category_grid {
  padding-top: 10px;
}
