@import "config";
@import "home";

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

.main_logo {
  width: 200px;
}

footer {
  font-size: 2rem;
  position: fixed;
  text-align: center;
  background-color: $main-grey;
  color: #fff;
}
